<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <mat-slide-toggle
  (click)="toggleDsp()"
  [checked]="config.dsp">
       DSP       
  </mat-slide-toggle>
  
<mat-slide-toggle
  [disabled]="!config.dsp"
  (click)="toggleBass()"
  [checked]="config.bass">
     SuperBass       
</mat-slide-toggle>
<div class="example-flex-container">
  <button mat-raised-button (click)="mode='eq'" color="{{(mode == 'eq')? 'primary':'default'}}">Equalizer</button>
  <button mat-raised-button (click)="mode='gain'" color="{{(mode == 'gain')? 'primary':'default'}}">Gain</button>
</div>    
  
<div class="mat-divider"></div>
<!-- Эквалайзер -->
<div *ngIf="mode =='eq'">
<div class="example-flex-container">
<button mat-raised-button (click)="eqPreset(0)" color="primary" [disabled]="!config.dsp">
  Reset
</button>
<button mat-raised-button (click)="eqPreset(1)"color="primary" [disabled]="!config.dsp">
  Jazz
</button>
<button mat-raised-button (click)="eqPreset(2)"color="primary" [disabled]="!config.dsp">
  Rock
</button>
<button mat-raised-button (click)="eqPreset(3)"color="primary" [disabled]="!config.dsp">
  Classic
</button>
</div>    
<div class="row">
    <mat-slider *ngFor="let ch of config.eq_labels;let num = index"
      thumbLabel tickInterval="1" vertical step="1"
      min="{{config.eq_min_value}}" 
      max="{{config.eq_max_value}}"  
      value="{{config.eq_values[num]}}"
      (change)="onEqChange($event,num)"
      [disabled]="!config.dsp"
      >
    </mat-slider>
  </div>
  <div class="row">
    <label *ngFor="let lab of config.eq_labels" >{{lab}}&nbsp;&nbsp;</label>
  </div>
<!-- // Эквалайзер -->
</div>
<!-- Регуляторы усиления -->
<div *ngIf="mode =='gain'">
  <div class="row">
      <mat-slider 
        thumbLabel tickInterval="1" vertical step="1"
        min="-24" 
        max="24"  
        value="{{config.input_gain}}"
        (change)="setGain($event,'input_gain')"
        >
      </mat-slider>
    </div>
    <div class="row">
      <label>Input&nbsp;&nbsp;</label>
    </div>
  <!-- // Эквалайзер -->
  
</div>
<div mat-dialog-actions>
</div>
